.review {
    padding: 8px;
    display: flex;
}

.review .col-2 {
    margin-left: 12px;
}

.review .col-2 .specs {
    display: flex;
    padding: 12px;
    margin-top: 20px;
}

.review .col-2 .specs .col-1 p,
.review .col-2 .specs .col-2 p {
    margin-bottom: 20px;
}

.actual {
    padding: 16px;
    text-align: center;
}

.actual h2 {
    margin-bottom: 30px;
}

.actual div {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}