.review {
    padding: 12px;
}

.review .searchbar {
    margin-bottom: 12px;
}

.review .container {
    display: flex;
}

.review .container .col-1 {
    flex-basis: 20%;
}

.review .container .col-2 {
    background-color: var(--color-background-secondary);   
    display: flex;  
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    flex-basis: 80%;
    margin-left: 4px;
    padding: 6px;
}

.review .container .col-2 .item {
    margin-bottom: 30px;
}

.review .container .col-2 .item:hover {
    background-color: var(--color-background-primary);
}
